#loader-container {
    display: flex;
    position: fixed;
    text-align: center;
    color: rgb(110, 104, 0);
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999999;
    left: 0;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
    color : rgb(33, 83, 28);
}
